.door {
  border-style: solid;
  border-color: grey;
  background-color: #aad7ef;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 1em;
}

.button:hover {background-color: #3e8e41}
  
.button:active {
  background-color: #3e8e41;
  transform: translateY(0.2em);
}

.status {
  padding: 1em;
}

.status svg
{
  font-size: 2em;
}